{% extends "base.html" %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/echarts.js') }}"></script>
{% endblock %}

{% block title %}
Statistics
{% endblock %}

{% block body %}
	<!--为ECharts准备一个具备大小（宽高）的Dom-->
	<div id="chart" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
	<script type="text/javascript">
	var myChart = echarts.init(document.getElementById('chart'));
	// 显示标题，图例和空的坐标轴
	myChart.setOption({
		title: {
			text: '传感器数据显示'
		},
		tooltip: {},
		legend: {
			data:['空气最高温度', '空气最低温度', '空气最高湿度', '空气最低湿度']
		},
		xAxis: {
			data: [Array(100).keys()]
		},
		yAxis: {
			data: []
		},
		series: [{
			name: '空气最高温度',
			type: 'line',
			data: []
		},
		{
			name: '空气最低温度',
			type: 'line',
			data: []
		},
		{
			name: '空气最高湿度',
			type: 'line',
			data: []
		},
		{
			name: '空气最低湿度',
			type: 'line',
			data: []
		}]
	});

	// 异步加载数据
	$.get('/air/info').done(function (data) {
		json_data = JSON.parse(data)

		// 填入数据
		myChart.setOption({
			yAxis: {
				data: Array(100).keys()
			},
			xAxis: {
				data: json_data.result.update_date
			},
			legend: {
                        data:['空气最高温度', '空气最低温度', '空气最高湿度', '空气最低湿度']
                        },
			series: [{
				name: '空气最高温度', // 根据名字对应到相应的系列
				type: 'line',
				data: json_data.result.max_celsius//.map(parseFloat) // 转化为数字（注意map）
			},
			{
				name: '空气最低温度', // 根据名字对应到相应的系列
				type: 'line',
				data: json_data.result.min_celsius//.map(parseFloat) // 转化为数字（注意map）
			},
			{
				name: '空气最高湿度',
				type: 'line',
				data: json_data.result.max_humidity//.map(parseFloat)
			},
			{
				name: '空气最低湿度',
				type: 'line',
				data: json_data.result.min_humidity//.map(parseFloat)
			}]
		});
	});
	</script>
{% endblock %}

{% block css %}
{{ super() }}
{% endblock %}




