{% extends 'base.html' %}

{% block title %}
{{ supper() }}
{% endblock %}

{% block body %}
	<!--为ECharts准备一个具备大小（宽高）的Dom-->
	<div id="chart" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
	<script type="text/javascript">
	var myChart = echarts.init(document.getElementById('chart'));
	// 显示标题，图例和空的坐标轴
	myChart.setOption({
		title: {
			text: '异步数据加载示例'
		},
		tooltip: {},
		legend: {
			data:['空气温度','空气湿度']
		},
		xAxis: {
			data: list(range(100))
		},
		yAxis: {},
		series: [{
			name: '空气温度',
			type: 'line',
			data: []
		},{
			name: '空气湿度',
			type: 'line',
			data: []
		}]
	});

	myChart.showLoading(); // 显示加载动画

	// 异步加载数据
	$.get('/air').done(function (data) {
		myChart.hideLoading(); // 隐藏加载动画

		// 填入数据
		myChart.setOption({
			// xAxis: {
			// 	data: list(range(100))
			// },
			series: [{
				name: '空气温度', // 根据名字对应到相应的系列
				data: data.result.celsius.map(parseFloat) // 转化为数字（注意map）
			},{
				name: '空气湿度',
				data: data.result.humidity.map(parseFloat)
			}]
		});
	});
	</script>
{% endblock %}


{% block js %}
{{ supper() }}
<script src="{{ url_for('static', filename='js/echarts.js') }}"></script>
{% endblock %}

