<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />

    {% block css %}{% endblock %}
</head>
<body>
    <div class="pg-header"></div>
    <div class="pg-body">
        {% block body %}{% endblock %}
    </div>

    {% block js %}{% endblock %}
</body>
</html>
