{% extends "base.html" %}

{% block title %}
{{super()}}
{% endblock %}

{% block css %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-table/dist/bootstrap-table.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css') }}" />
{% endblock %}

{% block js %}
{{super()}}
{{super()}}
<script src="{{ url_for('static', filename='bootstrap-table/dist/bootstrap-table.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-table/dist/extensions/editable/bootstrap-table-editable.js') }}"></script>
<script src="{{ url_for('static', filename='x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
{% endblock %}

{% block body %}
<div class="panel-body" style="padding-bottom:0px;">     
    <div id="toolbar" class="btn-group">
        <button id="btn_add" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>新增
        </button>
        <button id="getTableData" class="btn btn-default">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>保存
        </button>
        <!-- <button id="btn_edit" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
        </button> -->
        <button id="btn_delete" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
        </button>
        <!-- <button id="btn_save" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>保存
        </button> -->
    </div>
    <table id="table"></table>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
                {% for message in messages %}
                    <div class="alert alert-warning" style="text-align: center">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <strong>{{ message }}</strong></div>
                {% endfor %}
            </ul>
    {% endif %}
{% endwith %}
</div>

<script type="text/javascript">
function get_cols() {
    var cols_json = JSON.parse('{{headers|tojson}}');
    var cols = [];
    cols.push({title: 'state', field: 'state', checkbox: true, align: 'center', valign: 'middle', editable: false});
    for(var i=0; i < cols_json.length; i++) {
        cols.push({title: cols_json[i]['title'], field: cols_json[i]['field'], align: cols_json[i]['align'], editable: cols_json[i]['editable']?
        {type: cols_json[i]['type'], title:cols_json[i]['title']} : false});
    }
    cols.push({title: '操作', align: 'center', valign: 'middle', formatter:"operateFormatter", editable: false})
    return cols;
};

function operateFormatter(value, row, index) {
    // return [
    // '<a href="javascript:modify(' + row.id + ')" title="modify">' +
    // '<i class="glyphicon glyphicon-pencil"></i>修改' +
    // '</a>',
    // '<a class="remove" href="javascript:remove(' + row.id + ')" title="remove">' +
    // '<i class="glyphicon glyphicon-remove"></i>删除' +
    // '</a>'
    // ].join('');
    return [
    '<a class="remove" href="javascript:remove(' + row.id + ')" title="remove">' +
    '<i class="glyphicon glyphicon-remove"></i>删除' +
    '</a>',
    ].join('');
}

function getIdSelections() {
    return $.map($('#table').bootstrapTable('getSelections'), function (row) {
        return row.id
    })
};

function modify(val) {
    alert(val)
};

function remove(rowid) {
    if(confirm("您确定删除第"+ rowid + "行吗？")) {
        $.ajax({
            method: "delete",
			url: '{{url}}',
            contentType: "application/json",
			data: JSON.stringify({'ids': [rowid]}),
            dataType: "json",
			async: true,
			success: function (res) {		
                    $("#table").bootstrapTable('refresh');
			}
		}); 
    }
};

function queryParams(params) {
    var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
        pageNum: params.pageNumber,
        pageSize: params.pageSize,
    };
    return temp;
};

$('#btn_add').click(function () {
    var count = $('#table').bootstrapTable('getData').length;
    $('#table').bootstrapTable('insertRow', {
                index: count,
                row: {
                    id: null,
                    name: '',
                    description: ''
                }
    });
});
//新增
$('#getTableData').click(function () {
    let dataList = JSON.parse(JSON.stringify($('#table').bootstrapTable('getData')));
    //新增数组
    let data = [];
    for (var i = 0; i < dataList.length; i++) {
        if (dataList[i].id == null) {
            //新增数组填充
            data.push(dataList[i]);
        }
    }
    saveData(data);
});

$('#btn_delete').click(function () {
      var rowids = getIdSelections()
    //   $('#table').bootstrapTable('remove', {
    //     field: 'id',
    //     values: rowids
    //   })
    //   $('#remove').prop('disabled', true)
    if(confirm("您确定删除第"+rowids+"行吗？")) {
        $.ajax({
            method:"delete",
			url:'{{url}}',
			data: JSON.stringify({'ids': rowids}),
            dataType: "json",
            contentType: "application/json",
			async:true,
			success:function (res) {		
                $("#table").bootstrapTable('refresh');
			}
		}); 
    }
});

$('#table').bootstrapTable({
    method: 'get',
    url: '{{url}}',
    dataType: "json",
    editable:true,//开启编辑模式
    pagination: true, //前端处理分页
    singleSelect: false,//是否只能单选
    search: true, //显示搜索框，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
    toolbar: '#toolbar', //工具按钮用哪个容器
    striped: true, //是否显示行间隔色
    cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
    paginationShowPageGo: true,
    showJumpto: true,
    pageNumber: 1, //初始化加载第10页，默认第一页
    pageSize: 10, //每页的记录行数（*）
    pageList: [10, 20, 50, 100], //可供选择的每页的行数（*）
    strictSearch: true,//设置为 true启用 全匹配搜索，false为模糊搜索
    showColumns: true, //显示内容列下拉框
    showRefresh: true, //显示刷新按钮
    minimumCountColumns: 2, //当列数小于此值时，将隐藏内容列下拉框
    clickToSelect: false, //设置true， 将在点击某行时，自动勾选rediobox 和 checkbox
    height: 'auto', //表格高度，如果没有设置height属性，表格自动根据记录条数决定表格高度#}
    uniqueId: "id", //每一行的唯一标识，一般为主键列
    showToggle: true, //是否显示详细视图和列表视图的切换按钮
    cardView: false, //是否显示详细视图
    sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
    columns: get_cols(),
    queryParams: queryParams,//请求服务器时所传的参数 
    striped: true,
    onEditableSave: function (field, row, oldValue, $el) {
        if(row.id){
            saveData(row);
        }  
    }
});

function saveData(editData) {
    console.log(editData)
    $.ajax({
            method: 'post',
			url: '{{url}}',
            contentType: "application/json",
            dataType: "json",
			data: JSON.stringify(editData),
			async: true,
			success: function (res) {		
                $("#table").bootstrapTable('refresh');
			}
	});      
}
</script>
{% endblock %}